/* here comes the CSS */

#loader {
	display: none;
	background-color: rgba(0,0,0,0.5);
	height:100%;
	left:0;
	position: absolute;
	top:0;
	width:100%;
}

.has-js #content{
	display: none;
}

.has-js #loader{
	display: block;
}